.nav-primary {
  background-color: $pr_grey;
  li {
    padding: 1em;
    &:first-child {
      padding-left: 0;
    }
    a {
      color: $pr_white;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.content {
  padding-top: 3em;
}
