.nav-primary {
  background-color: $pr_grey;
  li {
    padding: .7em;
    font-size: 1em;
    &:first-child {
      padding-left: 0;
    }
    a {
      color: $pr_white;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.content {
  padding-top: 3em;
}

@media screen and (max-width: 576px) {
  .nav-primary {
    li {
      border-bottom: 1px solid lighten($pr_grey, 20);
      padding: 0.4em 0.8em 0.4em 0;
      width: 100%;
    }
  }
}
