html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

main {
  // background: url('../images/pr-bg.png');
}

#wrapper {
  min-height: 100%;
  position: relative;
}

a {
  color: #213177;
  &:focus,
  &:hover {
    color: #405cd4;
  }
}

.search-field {
  margin-right: 1em;
}

.fa {
  margin-right: 2px;
}

@media (max-width: 991px) {
  header .alignleft {
    width: 50%;
  }
}

@media (max-width: 380px) {
  header#header {
    height: 241px;
    .alignleft {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
    .alignleft > p {
      margin-bottom: 0;
    }
    .alignright {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
    .logo img {
      width: 45%;
    }
  }
}
.nav-primary {
  .nav {
    width: 100%;
    padding: 0;
  }
  ul li {
    padding: 0.4em 0.8em 0.4em 0;
  }
}

#content main .page-content {
    display: block;
    img {
      padding: 1em;
      width: 100%;
    }
}
