html,
body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  text-align: justify;

  h1 {
    font-weight: 700;
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3,h4,h5,h6 {
    font-size: 1em;
    font-weight: 700;
    margin: .5em 0;
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
}

a {
  color: #213177;
  &:focus,
  &:hover {
    color: #405cd4;
  }
}

.search-field {
  margin-right: 1em;
}

.fa {
  margin-right: 2px;
}
