#content {
  padding-bottom: 144px; // Height of footer.
}

footer {
  color: $pr_white;
  background-color: $pr_black;
  width: 100%;
  font-size: 1em;
  height: 144px;
  position: absolute;
  bottom: 0;
  padding: 1em;
}
