header {
  color: $pr_white;
  background-color: $pr_blue;
  padding: 10px;
  
  h2 {
    font-size: 1.2em;
    text-align: left;
  }
  
  .align-right {
    text-align: right;
  }
  .numbers span {
    display: block;
    color: $pr_white;
  }
  .mailto a {
    color: $pr_white;
  }
}

@media screen and (max-width: 540px) {
  header .align-right {
    text-align: left;
  }
}

